{% load static %}
<div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
    <img src="{% static "ExpertFinderTool/academic_logo.gif" %}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
         style="width:60px">
    <span class="w3-right w3-opacity">{% block rank %}{% endblock %}</span>
    <h4>{% block author_name %}{% endblock %}</h4><br>
    <hr class="w3-clear">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>

    <button type="button" class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-envelope"></i>  Email</button>
    <span class="w3-right">
        <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"><i
                class="fa fa-thumbs-down"></i> Remove</button>
    </span>
</div>