{% load static author_tags %}
{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="author-list-item w3-container w3-hover-light-grey w3-card-2 w3-white w3-round w3-margin"
     data-author-score="{{ score }}"><br>
    <img src="{% static "ExpertFinderTool/academic_logo.gif" %}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
         style="width:60px">
    <span class="w3-right "> Rank: {{ number }}</span>
    <h2>{{ author.author_name }}
    </h2>
    <p class="w3-opacity">Score:{{ author.score }} <br> Author citations: {{ author.citations }} </p>
    <hr class="w3-clear">

    <div id="cont" style="overflow-y: scroll; height:300px;">
        <table class="w3-table w3-hoverable">
            <tr>
                <th>Paper Title</th>
                <th>Keywords</th>
            </tr>
            {% for paper in author.papers %}
                <tr>
                    <td>{{ paper.title }}<p>Score: {{ paper.score }} </p></td>
                    <td>
                        {% for a in paper.keywords %}
                            {{ a }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p></p>
    <button type="button" class="w3-btn w3-theme-d1 w3-margin-bottom"><i class="fa fa-user"></i>  <a
            style="text-decoration: none" href="https://academic.microsoft.com/#/detail/{{ author.author_id }}">
        Microsoft Academic Profile</a></button>
    <span class="w3-right">
        <button type="button" class="w3-btn w3-red w3-opacity w3-margin-bottom"><i
                class="fa fa-thumbs-down"></i> Remove</button>
    </span>
</div>