{% extends 'styled_base.html' %}
{% load static %}
{% block content_area %}
    <a style="text-decoration:none" href="{% url 'topic_search' %}">
        <div class="w3-container w3-hover-white w3-card-2 w3-theme-d1 w3-round w3-margin"><br>
            <img src="{% static "ExpertFinderTool/manuscript_search_logo.png" %}" alt="Avatar"
                 class="w3-left w3-margin-right"
                 style="width:60px; -webkit-filter: invert(100%)">
            <h3> Topic Search</h3>
            <hr class="w3-clear">
            <p> Use this tool to find reviewers for a manuscript</p>
        </div>
    </a>
    <a style="text-decoration:none" href="{% url 'author_search' %}">
        <div class="w3-container w3-hover-white w3-card-2 w3-theme-d1 w3-round w3-margin"><br>
            <img src="{% static "ExpertFinderTool/author_search_logo.png" %}" alt="Avatar"
                 class="w3-left w3-margin-right"
                 style="width:60px; -webkit-filter: invert(100%)">
            <h3> Author Search</h3>
            <hr class="w3-clear">
            <p> Use this tool to find reviewers for an authors body of work</p>
        </div>
    </a>
{% endblock %}